body {
  background: url("https://images.unsplash.com/photo-1514705593245-e3f20b7ab0c1") ;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
}

#drum-machine {
  margin: auto;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.1);
}

#display {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  border: 2px solid #ff4dff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  position: relative;
  overflow: hidden;
}

.drum-pad:hover {
  border-color: #fc36ff;
}

.drum-pad:active {
  transform: scale(0.95);
}

.drum-pad:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: linear-gradient(to bottom, #ff4dff, #ff66ff, #ff99ff, #ff66ff, #ff4dff);
  animation: pulse 2s linear infinite;
}

.clip {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#Q {
  background-color: #ff4dff;
}

#W {
  background-color: #ff66ff;
}

#E {
  background-color: #ff99ff;
}

#A {
  background-color: #ff66ff;
}

#S {
  background-color: #ff4dff;
}

#D {
  background-color: #fc36ff;
}

#Z {
  background-color: #ff66ff;
}

#X {
  background-color: #ff4dff;
}

#C {
  background-color: #ff66ff;
}

@media screen and (max-width: 768px) {
  #drum-machine {
    width: 90%;
  }
}
